name: CI File Health Check 

# Déclencheur : s'exécute à chaque push sur la branche main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Instalation de la bonne version de python
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    # Installation des dépendances
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    # vérification si l'app peut démarrer sans crash)
    - name: Test Streamlit App Syntax
      run: |
        python -m py_compile app.py